.Experience {
    background-color: #314455;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        width: 100%;
        margin-left: 15vw;
        font-size: 60px;
        
        text-align: center;
        color: whitesmoke;
        margin-bottom: 8%;
    }

    .timeline-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .timeline-wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        margin-top: 5%;
        bottom: 0;
        left: 58%;
        height: 100%;
        width: 6px;
        background-color: whitesmoke;
        z-index: 1;
    }
    .timeline {
        width: 85vw;
        padding-left: 15vw;
        
    }

    .timeline-item {
        padding: 10px 50px;
        position: relative;
        width: 50%;
        height: 25vh;
        
        z-index: 2;
        img {
            position: absolute;
            width: 60px;
            border-radius: 50%;
            right: -42px;
            top: 22px;
            z-index: 10;
        }
    }


    
    .even-class {
        left: 0;
    }

    .odd-class {
        left: 52%;

        img {
            left: -42px;
        }
    }

    .timeline-content {
        padding: 20px 30px;
        
        background-color: whitesmoke;
        position: relative;
        border-radius: 6px;
        height: 22.5vh;
        font-size: 18px;
        font-weight: 300;
        color: black;
        h2 {
            font-weight: 600;
            color: #C96567;
            margin-bottom: 5px;
        }
        small {
            display: inline-block;
            margin-bottom: 15px;
            font-size: 15px;
            color: darkslategray;
        }

        .even-span {
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid whitesmoke;
            right: -14px;
        }

        .odd-span {
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid whitesmoke;
            left: -14px;
        }
    }
}
