
.navbar {
    height: 100px;
    background-color: #314455;
    z-index: 10000;
}

nav {
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    height: 100%;
    // border-bottom: 2px solid white;
}

.socials {
    display: flex;
    gap: 10px;

    img {
        height: 25px;
        width: 25px;
        scale: 150%;
        margin: 10px;
    }
    img:hover {
        scale:200%;
    }
}
.navbar--title {
    font-weight: bold;
    color: whitesmoke;
    font-size: 30px;
}