/* General styles */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: #F0E2D2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    background-color: #F0E2D2;
}

.section--portfolio,
.section--experience,.section--hero {
    height: fit-content;
}

.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px; 
    background-color: #F0E2D2;
    z-index: 1000;
}

/* Media query to remove scroll snap on mobile devices */
@media screen and (max-width: 768px) {
    html {
        scroll-snap-type: none;
    }
}
