.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #2B7A78, #3AAFA9);
    overflow: hidden;
    position: relative;

}

.hero--wrapper {
    max-width: 1366px;
    height:100%;
    margin: auto;
}


.hero--button {
    padding: 10px 20px;
    background-color: #2B7A78;
    color: #DEF2F1;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.hero--textContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero--buttons{
    display: flex;
    gap: 20px;
    
}

.hero--h2{
    font-size: 2rem;
    font-weight: bold;
    color: #17252A;
    letter-spacing: 5px;
}

.hero--h1 {
    font-size: 88px;
    font-weight: bold;
    color: #17252A;

}

.imageContainer {
    height: 100%;
    position: absolute;
    top:0;
    right:0;

}

.hero--scroll {
    height:50px;    
}

.hero--profile {
    height: 100%;
    object-fit: cover;
}