.hero {
    height: calc(100vh - 100px);
    background: #314455;
    overflow: hidden;
    position: relative;
    ;
}

.hero--wrapper {
    max-width: 1366px;
    height:100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero--button {
    padding: 10px 20px;
    background-color: #C96567    ;
    color: whitesmoke;
    border-radius: 100px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.hero--textContainer {
    height: 100%;
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}

.hero--buttons{
    display: flex;
    gap: 20px;
    
}

.hero--h2{
    font-size: 1,5rem;
    font-weight: bold;
    color: whitesmoke;
    
}

.hero--h1 {
    font-size: 75px;
    font-weight: bold;
    color: #97AABD;
    letter-spacing: 1px;
    width: 80vw;
    

}
.hero--title {
    display: flex;
    
}

.imageContainer {
    height: 100%;
    /* background-color: red; */
    position: absolute;
    top:0;
    right:0;
    margin-top: 8rem;
    margin-right:10rem;
}

.hero--scroll {
    height:50px;    
}

.hero--profile {
    height: 200px;
    
    border: 1px solid white;
    
    object-fit: cover;
    border-radius: 50%;
}