.Landing {
    margin-left: 10vw;
    width: 90vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 100px;
    h1 {
        color: #C96567;
        
        font-size: 188px;
    }
    h3 {
        color: #97AABD;
        font-size: 50px;
    }
}