.Landing {
    margin-left: 10vw;
    width: 90vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 100px;
    h1 {
        color: #5B6D92;
        font-size: 188px;
    }
    h2 {
        color: #D18266;
        font-size: 50px;
    }
    h3 {
        color: #364042;
        font-size: 30px;
    }
}