.contact {
    
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;    
    gap: 50px;
    margin-left: 15vw;
    width: 85vw;

    .textContainer {
        flex: 1;
        display: flex;
        gap: 40px;
        flex-direction: column;
        
        margin-left: 10%;
        .contact--icons{
            margin-top: 10%;
            display: flex;
            gap: 25px;
            img {
                height: 100px;
                width: 100px;
                opacity:70%;
            }
            img:hover {
                scale:150%;
                opacity: 100%;
            }
        }
        
    }
    h1{
        font-size: 100px;
        line-height: 88px;
        color:#5B6D92
    }
    H2 {
        color: #C96567;
    }
    span
    {
        font-weight: 300;
        color: whitesmoke;
    }
    @keyframes glow {
        0% {
          stroke-width: .5;
          filter: drop-shadow(0 0 5px #D18266);
        }
        50% {
          stroke-width: 1.2;
          filter: drop-shadow(0 0 20px #D18266);
        }
        100% {
          stroke-width: .5;
          filter: drop-shadow(0 0 5px #D18266);
        }
      }
      
      .phoneSVG {
        stroke: #C96567;
        margin-right: 10%;
        animation: glow 2s infinite;
      }
}